<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      >

	<head>
	    <meta charset="UTF-8" />
	    <title>Biblioteca</title>
	
	    <!-- Bootstrap -->
	    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
	    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
	    <link rel="stylesheet" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" />
	
	</head>
    <body style="background-color:black;">
        <center>

            <div class="container">
                <nav class="navbar navbar-default  navbar-dark bg-dark">
                    <div class="navbar-header">
                        <a class="navbar-brand" th:href="@{/}">
                            <img th:src="@{/img/livros.png}" src="../static/img/livros.jpg" width="50px" /></a>
                    </div>
                    <ul class="nav nav-pills">
                        <br>
                        <li   class="nav-item" sec:authorize="hasAuthority('ROLE_BASIC')"><a class="nav-link active text-white bg-dark" th:href="@{/livros/list}" href="#"> Livros </a>
                        </li>
                        <li class="nav-item"  sec:authorize="hasAuthority('ROLE_BASIC')"><a class="nav-link active" th:href="@{/autores/list}" href="#"> Autores </a>
                        </li>
                        <li class="nav-item"  sec:authorize="isAnonymous()"><a class="nav-link active" th:href="@{/registration}" href="#"> Cadastro </a>
                        </li>
                        <li class="nav-item"  sec:authorize="isAnonymous()"><a  class="nav-link active" th:href="@{/login}" href="#"> Entrar </a>
                        </li>
                        <li class="nav-item"  sec:authorize="hasAuthority('ROLE_ADMIN')" ><a class="nav-link active" th:href="@{/listadmin}" href="#"> Lista Administradores</a>
                        </li>
                          </li>
                        <li class="nav-item"  sec:authorize="hasAuthority('ROLE_BASIC')" ><a class="nav-link active" th:href="@{/list}" href="#"> Lista Usuários</a>
                        </li>
                        <li class="nav-item"  sec:authorize="isAuthenticated()"><a  class="nav-link active" th:href="@{/logout}" href="#"> Sair </a>
                        </li>
                    </ul>
                </nav>              
 				<div layout:fragment="content">
					<h1 style="color:blue";  layout:fragment="header">
						Usernames Cadastrados
					</h1>
					<br>
					
					<h3 style="color:red";> User Atual: <span sec:authentication="name" style="color:white";></span></h3>
					
					
					<div layout:fragment="content" class="container">
						<table class="table table-dark">
							<thead>
							<tr>
								<th style="color:blue"; scope="col">USERNAME:</td>
							</tr>
							</thead>
							<tbody>
							<tr th:each="user : ${users}">
								<th style="color:gray"; scope="row" th:text="${user.username}">Username</th>
							</tr>
							</tbody>
						</table>
					</div>
				</div>	
			</div>
	</center>		
</body>
</html>